/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Carrier_Code]
      ,[Flight_Num]
      ,[Boardpoint]
      ,[Offpoint]
      ,[FlightDateTime_Local]
      ,[FlightDateTime_UTC]
      ,[Leg1_DateTime_Local]
      ,[Leg1_DateTime_UTC]
      ,[Leg2_DateTime_Local]
      ,[Leg2_DateTime_UTC]
      ,[Leg3_DateTime_Local]
      ,[Leg3_DateTime_UTC]
      ,[Segment_Routing]
      ,[User_ID_Company]
      ,[User_ID_Staff_Number]
      ,[Event_Code]
      ,[Event_TimeMode]
      ,[Event_DateTime]
      ,[Record_DateTime]
  FROM [TIBCO_Control].[dbo].[DCS_Event]
  order by [Record_DateTime] desc
   